<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523710494711-urgifq9cl60fdg2tdts20ircr74gnps2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523710494711-urgifq9cl60fdg2tdts20ircr74gnps2</string>
	<key>API_KEY</key>
	<string>AIzaSyA3aiS8DgU9cO4foVwK_MoKJIFFNbtGdmY</string>
	<key>GCM_SENDER_ID</key>
	<string>523710494711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ne.docomo-durtmund.naoki-t.LoginFirebaseTestApp</string>
	<key>PROJECT_ID</key>
	<string>loginfirebasetestapp-8a4e0</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebasetestapp-8a4e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523710494711:ios:77f0f288ddae0a6444a0f2</string>
</dict>
</plist>